{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <section class="detail">
        <h1> {{ list.title }} </h1>
        <div class="detail-local">
            <div class="detail-items">
                <div class="detail-info">
                    <p><i> {{list.description}}</i></p>
                    <p>Locais incluídos nessa lista:</p>
                    {% for local in list.local.all %}
                    <a class='link-local' href="{% url 'locais:detail' local.id %}"> {{local.nome}} </a>

                    {% endfor %}

                </div>
            </div>
            <div class="detail-edicao">
                <p><a href="{% url 'locais:lists' %}" >Voltar</a> </p>
            </div>
        </div>
        
    </section>
    
</body>
{% endblock content %}
