{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <section class="detail">
        <h1> {{ list.nome }} </h1>
        <div class="detail-local">
            <div class="detail-items">
                <div class="detail-info">
                    <p> {{list.description}}</p>
                    
                    {% for local in list.local_set.all %}
                        <p>{{local.nome}} </p>
                    {% endfor %}

                </div>
            </div>
            <div class="detail-edicao">
                <p><a href="{% url 'locais:update' local.id %}" >Atualizar dados deste local</a> </p>
                <p><a href="{% url 'locais:rate' local.id %}" >Avaliar local</a> </p>
                <p><a href="{% url 'locais:index' %}" >Voltar</a> </p>
            </div>
        </div>
        
    </section>
    
</body>
{% endblock content %}
