{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <section>
        <h1><i>Listas de locais</i></h1>
        <p>Os usuários podem criar listas de locais de estudo com os critérios que quiserem. 
            Aqui você pode ver as listas criadas até agora!
        </p>

        {% for fav in locallist_list %}

            <div class="local-item">
                <div class="local-item-descricao">
                    <h3>{{ fav.title }} </h3>
                    <p> {{ fav.description }}</p>
                    <p> Lista feita por: {{ fav.author }}</p>
                    <p>
                        {% for local in fav.local_set.all %}
                        <p>{{local.nome}} </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endfor %}
            </div>

    </section>

</body>
{% endblock content %}
