{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <section>
        <h1><i>Listas de locais</i></h1>
        <p>Os usuários podem criar listas de locais de estudo com os critérios que quiserem. 
            Aqui você pode ver as listas criadas até agora!
        </p>

        {% for list in locallist_list %}

            <div class="local-item">
                <div class="local-item-descricao">
                    <h3>{{ list.title }} </h3>
                    <p> {{ list.description }}</p>
                    <p> Lista feita por: {{ list.author }}</p>

                </div>
                <p><a href="{% url 'locais:detail_list' list.id %}">Saiba mais!</a></p>
            </div>
            {% endfor %}
            </div>

    </section>

</body>
{% endblock content %}
